version: 2.1
jobs:
  build:
    docker:
      - image: cimg/node:18.16.0
    environment:
      TURBO_UI: false
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm ci
      - run:
          name: Build, Test, Lint
          command: npx turbo run build test lint

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
