version: "3.9"

services:
  redis:
    image: redis:7.2-alpine
    container_name: redis
    restart: unless-stopped

    ports:
      - "6379:6379"

    volumes:
      - redis-data:/data

    command: >
      redis-server
      --appendonly yes
      --save 60 1
      --loglevel warning

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  redis-data:
